.slider_place_interiors {
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width:550px) {
  .slider_place_interiors {
    display: none;
    }
  }