.footer__columns {
  margin: 0 auto;
  padding: 114px 23px 120px 0;
  max-width: 1177px;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width:1280px) {
  .footer__columns {
    padding: 114px 20px;
  }
}

@media screen and (max-width:950px) {
  .footer__columns {
    flex-direction: column;
  }
}

@media screen and (max-width:800px) {
  .footer__columns {
    padding: 30px 20px;
  }
}