.interiors__main-item {
  margin: 0;
  padding: 0;
  max-height: 585px;
  grid-row: 1 / 4;
  position: relative;
}

@media screen and (max-width:1280px) {
  .interiors__main-item {
    grid-column: 1 / 4;
  }
}

@media screen and (max-width:550px) {
  .interiors__main-item {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}