.title_place_rent {
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.01em;
    padding-top: 135px;
    padding-bottom: 24px;
  }
  
  @media screen and (max-width: 999px) {
    .title_place_rent {
      padding-top: 20px;
      max-width: 584px;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 767px) {
    .title_place_rent {
      font-size: 31px;
      line-height: 45px;
    }
  }