.benefit {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
}

@media screen and (max-width: 1219px) {
  .benefit {
    margin: 0 20px;
  }
}


@media screen and (max-width: 939px) {
  .benefit {
    padding-bottom: 0;
    padding-top: 40px;
    margin: 0;
  }
}