.reservation__card-link {
  margin: 0;
  max-width: 129px;
  padding: 0;
  display: flex;
  align-items: flex-end;
  height: 100%;
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424F7B;
  transition: opacity .5s ease-in;
}

.reservation__card-link:hover {
  opacity: 80%;
}

@media screen and (max-width:750px) {
  .reservation__card-link {
    margin: 15px 20px 0;
    max-width: 150px;
    font-size: 21px;
    position: static;
  }
}