.header__logo {
  max-width: 228px;
  margin: 0;
  padding-top: 9px;
  align-self: flex-end;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #192252;
}

@media screen and (max-width: 939px) {
  .header__logo {
    align-self: center;
  }
}