.rent {
  max-width: 1199px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1219px) {
  .rent {
    margin: 0 10px;
  }
}

@media screen and (max-width: 939px) {
  .rent {
    flex-direction: column;
  }
}

