.interiors__list {
  margin: 38px auto 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 3px;
  row-gap: 3px;
}

@media screen and (max-width:1280px) {
  .interiors__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width:550px) {
  .interiors__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}