.rent__image {
  max-width: 588px;
  padding-top: 80px;
  padding-bottom: 96px;
}

@media screen and (max-width: 939px) {
  .rent__image {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 25px;
  }
}