.interiors__item {
  max-height: 193px;
  transition: opacity .5s ease-in;
  cursor: pointer;
}

.interiors__item:hover {
  opacity: 80%;
}

@media screen and (max-width:550px) {
  .interiors__item {
    max-height: 284px;
  }
}
  
