.footer__content {
  padding-top: 6px;
  min-width: 592px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:950px) {
  .footer__content {
    min-width: 230px;
    flex-direction: column;
  }
}